.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    border: black 1px solid;
    border-radius: 7px;
}

.content{
    margin: 10px auto;
    align-content: center;
}

.rps{
    text-decoration: underline;
}

.btns{
    display: flex;
    padding: 0;
    margin: 0;
    padding: 10px 80px;
}

.button{
    flex: 1;

}
button{
    width: 80%;
    background-color: white;
    border: black solid 1px;
    border-radius: 7px;
}

.display{
    width:320px;
    height: 24px;
    border: black solid 1px;
    border-radius: 7px;
    text-align: center;
}